// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 13% 0 0;
    
    div {
        width: 35%;
        font-size: 4rem;
        font-family: 'Indie Flower', cursive;
        margin: 2.5% 0 2.5% 17%;
    }

    a {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        width: 10%;
        
    }
}

.navBarLine {
    width: 95%;
    .bar();
}